@* Shared/NavMenu.razor *@
<nav class="navbar navbar-expand-lg navbar-dark navbar-gradient">
    <div class="container-fluid">
        <!-- Logo on the left -->
        <a class="navbar-brand" href="/"><img src=".\logo.png" width="50px" height="50px" style="object-fit:cover" /></a>
        
        <!-- Toggle button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- Navigation menu on the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/cars">Cars</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/inspections">Inspections</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/transport">Transport Companies</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/account">
                        <i class="bi bi-person-circle"></i>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
