<!-- RegisterForm.razor -->
<div class="tab-pane fade show active">
    <form class="mt-4">
        <div class="row g-3">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Emri">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Mbiemri">
            </div>
            <div class="col-md-12">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-md-12">
                <input type="password" class="form-control" placeholder="Fjalëkalimi">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Numri i telefonit">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Shteti">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Qyteti">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Adresa">
            </div>
            <div class="col-md-12">
                <select class="form-select">
                    <option value="user">Përdorues</option>
                    <option value="transport">Transportues</option>
                    <option value="inspector">Inspektor</option>
                </select>
            </div>
            <div class="col-12 text-center mt-3">
                <button class="btn btn-primary w-100">Regjistrohu</button>
            </div>
        </div>
    </form>
</div>
